#### BACKTESTING PORTFOLIO OF STRATEGIES

In [153]:
import os 
import numpy as np 
import pandas as pd 

path = 'strat_returns/Testing/'

In [154]:
### FILES 
files = os.listdir(path)
#files.reverse()
print(files)
spy_idx = files.index('SPY.csv')

### COLUMNS 
cols = [ 'daily_ret', 'half_kelly']

['AMLP.csv', 'IVE.csv', 'IVW.csv', 'IWM.csv', 'SPY.csv', 'XLF.csv', 'XLI.csv', 'XLU.csv', 'XLV.csv']

In [155]:
## DF 
df = pd.read_csv( path + files.pop(spy_idx), index_col= 'Unnamed: 0')
df = df[cols]
#df.columns = [i + '_SPY' for i in df.columns]
df['ticker'] = 'SPY'
df.head()

            daily_ret  half_kelly ticker
2006-01-03        0.0       2.165    SPY
2006-01-04        0.0       2.165    SPY
2006-01-05        0.0       2.165    SPY
2006-01-06        0.0       2.165    SPY
2006-01-09        0.0       4.000    SPY

In [156]:

for file in files: 
    
    df_file = pd.read_csv(f"strat_returns/Testing/{file}", index_col='Unnamed: 0') 
    df_file = df_file[cols]
    df_file['ticker'] = file.replace('.csv', '')
    df = pd.concat([df, df_file], axis = 0 )

In [157]:
df = df.dropna()
df = df.reset_index()
df['index'] = pd.to_datetime(df['index'])
df = df[df['daily_ret'] != 0]

df = df.sort_values(by = ['index', 'half_kelly'], ascending=[True, False], axis = 0) 
df.head()

          index  daily_ret  half_kelly ticker
7977 2002-01-08   0.019028         4.0    IVE
7978 2002-01-09   0.019144         4.0    IVE
7979 2002-01-10   0.000924         4.0    IVE
7980 2002-01-11   0.019367         4.0    IVE
7981 2002-01-14   0.018318         4.0    IVE

In [158]:
df.tail()

           index  daily_ret  half_kelly ticker
7975  2025-01-23   0.002584       1.495   AMLP
40467 2025-01-23  -0.001474       1.450    XLU
13776 2025-01-24   0.004894       4.000    IVE
30876 2025-01-24  -0.025172       4.000    XLF
7976  2025-01-24   0.005514       1.690   AMLP

In [159]:
df = df.set_index('index')

df.head()

            daily_ret  half_kelly ticker
index
2002-01-08   0.019028         4.0    IVE
2002-01-09   0.019144         4.0    IVE
2002-01-10   0.000924         4.0    IVE
2002-01-11   0.019367         4.0    IVE
2002-01-14   0.018318         4.0    IVE

In [160]:
import holidays
us_holidays = holidays.US()

date_range =  pd.date_range(start=df.index.min(), end=df.index.max())
date_range = [date for date in date_range if date not in us_holidays]
    
    
for date in date_range:
    
    date_df = df[df.index == date]

In [161]:
date_df

            daily_ret  half_kelly ticker
index
2025-01-24   0.004894        4.00    IVE
2025-01-24  -0.025172        4.00    XLF
2025-01-24   0.005514        1.69   AMLP